.MainBox {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MainHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ShortContent {
  margin-top: 10vh;
  text-align: center;
}

.ShortContent h3 {
  margin: 3vh;
  font-size: 4vh;
  color: goldenrod;
  margin-bottom: 0;
}

.ShortContent h5 {
  background: -webkit-linear-gradient(right, #fd0977, #04b4b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 5vh;
}

.vidvid {
  text-decoration: none;
  margin: 3vh;
}

.vidvid h1 {
  margin: 1vh 0;
  color: #545454;
}

.vidvid p {
  color: #1ca8b8;
  font-size: small;
  font-weight: bold;
}

.PVideoCard {
  height: 30vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.PVideoCard img {
  height: 10vh;
  width: 10vw;
  border-radius: 15px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.PVideoCard img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.PVideoCard .CategoryVid {
  color: #b1b1b1;
}

.Rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rate div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Rate div h4 {
  height: 6vh;
  width: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #d9f4f3;
  border-radius: 50%;
  margin: 1vw;
}

.PlayerBox {
  background-image: url("../resources/pattern1Blob.png");
  background-size: contain;
  background-repeat: repeat;
  background-size: 55vh;
}

.PlayerBox .VideoBox {
  background: none;
}

.RecommendedVideos {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CategorySelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh 0;
}

.CategorySelect h4 {
  color: #777676;
  font-weight: bold;
  width: 22%;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid;
  border-color: transparent;
  padding-bottom: 1vh;
  font-size: larger;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
/*# sourceMappingURL=shorts.css.map */